h1 {
    color:crimson;
}

h1:hover {
    zoom:150%;
}
a {
    color:white;
    border-radius: 7px;
}
* {
    background-color:#052134;
}
p {
    color:white;
}
h2 {
    color:orange;
}
h3{
    color:aqua;
}
